body {
  background-color: rgb(61, 61, 61);
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0;
}

.container {
  margin-bottom: 5vh;
  margin-right: 5vh;
}

.sphere {
  background-color: rgb(0, 0, 183);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-17px, -14px);
  z-index: -1;
  transition: width 0.5s cubic-bezier(0.6, -0.02, 0.1, 1.6), transform 0s,
    border-radius 1s, background-color 0.5s;
}

a {
  font-size: 2rem;
  font-family: "Geologica", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

i {
  font-size: 2rem;
  margin-bottom: 5px;
  color: white;
}

.container:hover .sphere {
  background-color: rgb(188, 0, 0);
  float: right;
  width: 330px;
  border-radius: 50px;
  transition: width 0.5s cubic-bezier(0.6, -0.02, 0.14, 1.6), transform 0s,
    border-radius 0s, background-color 0.5s;
}
